@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  /* primary */
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkSaturatedBlue: hsl(229, 23%, 23%);
  --darkGarishBlue:hsl(227, 10%, 46%);
  /* natural */
  --darkGrey: hsl(0, 0%, 59%);
}

html{
  font-size: 18px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  color: var(--veryDarkSaturatedBlue);
  /* margin: 10px */
  background-color: var(--darkCyan);
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* overflow: hidden; */
  background-image: url(../images/bg-pattern-top.svg),url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat,no-repeat;
  background-position: -360px -300px, 185px 355px;
  background-size: 150%, 150%;
}
.profile-card{
  margin: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap: 18px;
  /* width: 350px; */
  /* height: 400px; */
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.profile-img{
  margin-top: -70px;
  border-radius: 50% ;
  border: 5px solid white;
  overflow: hidden;
  background-color: white;
}

.info{
  /* margin-bottom: 18px; */
}
.info h3{
  font-weight: 700;
  font-size: 1rem;
}

.info span{
  color: var(--darkGarishBlue);
}
.info p{
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
}

.status{
  display: flex;
  align-self: stretch;
  /* align-items: center; */
  justify-content: center;
  border-top: 1px solid var(--darkGrey);
  padding: 22px;
}

.status-info{
  padding:0 25px;
}

.status-info p{
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.2px;
}

@media all and (min-width:1440px){
  body{
    background-position: -440px -600px, 620px 420px;
    background-size: 80%, 80%;
  }
}


/* .attribution */
/* .attribution { font-size: 11px; text-align: center; margin-bottom:  -50px; z-index:100; }
.attribution a { color: hsl(228, 46%, 38%); } */